<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>FIFA ONLINE 4 선수추천</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark">
        <div class="container">
        <a href="#" class="navbar-brand">
        
            <strong> <img src =https://ssl.nexon.com/s2/game/fo4/CBT/common/logo_fo4.png>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;FIFA ONLINE 4 선수추천</strong>
        </a>
        </div>
    </div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            
            <h2 class="fw-bolder">
            어떤 선수의 평가가 궁금한가요?
            </h2>
            
        </div>
        <p>
    
            <img src=https://ifh.cc/g/b19AKs.jpg style="width:600x; height:600px;">
            <h4>
                <strong>궁금하신 댓글을 입력해주세요!</strong>
            </h4>
            
        </p>
        <p>
            <form action="/player" method="post">
                <p>
                    
                    <textarea class="hidden" name="text" type="text " placeholder="여기에 입력 " style="color:rgb(100, 100, 100); width:500px; height:200px; outline:none; text-align:center;font-size:13px"></textarea>
                    
                </p>
                    <input type="submit"value="보내기" />
            </form>
        </p>
                  
        </div>
        <div class="navbar navbar-dark bg-dark">
            <div class="container">

            <a href="#" class="navbar-brand">
                <img src =https://ssl.nexon.com/s2/game/fo4/CBT/common/logo_fo4.png><strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;OPEN API NEXON 제공</strong>
            </a>
            </div>
        </div>
    </section>
</body>
</html>